[submodule "vendor/dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vendor/font-jetbrains"]
	path = vendor/font-jetbrains
	url = git@github.com:JetBrains/JetBrainsMono.git
[submodule "vendor/font-powerline"]
	path = vendor/font-powerline
	url = git@github.com:powerline/fonts.git
